/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
    box-sizing: border-box;
    }

 *, *::before, *::after{
    box-sizing: inherit;
    }

body{
    font-family:'Lato';
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    columns: black;


    }

    a{
        color: #006DFE;
    }

img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width:900px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

.wrapper_sm{
    max-width: 700px;
    margin: 0 auto;
}

/* header start */

.header_active{
    background: #0E1D28;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    padding-bottom: 20px;
    z-index: 999;
    background-color: white;
}
.header{
    padding: 40px 0 40px 0;
}
 
.div_flex{
    width: 16px;
    height: 16px;
    background-color: #0050ff;
}

.flex_divs{
    display: flex;
    flex-wrap: wrap;
     align-items:center;
     
     /* align-items: flex-end; */
    /* margin-bottom: 30px; */
    justify-content: space-between;
}

.flex_div_span_name{
    font-weight: 900;
    font-size: 1.1rem;
    font-family: sans-serif;
    margin: 0;
}

.flex_div_span_text{
    font-size: 0.8rem;
    font-weight: 400;
    font-family:sans-serif;
    /* align-items: flex-end; */
}
/* .right{
    margin-left: 10px;
} */

.header_ul{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.header_li:last-child{
    margin-right: 0;
}
.header_a{
    text-decoration:  none;
    color: #000000;
    font-size: 0.6rem;
    font-family: sans-serif;
   padding: 7px 7px 7px 7px;
   border-radius: 30px;
   transition: 1s;

}
.header_li:hover .header_a {
   background-color :#0050ff;
   color: white;
   transition: 0.2s;

}
.header_li:active .header_a {
    background-color :#0050ff;
    color: white;
    transition: 0.3s;


 
 }
 

.header_li{
    margin-right:7px;
}
/* header end */

/* info_about_me start */

.main{
    background-color:#E7EAED;
}
.info_about_me{
    margin-top: 70px;
}
.info_pic_flex{
    width: 200px;
    margin: 0 auto;
}
.info_img{
    border-radius: 50%;
    margin-top: 34px;
    margin-bottom: 34px;
    /* margin: 0 auto; */

}

.info_about_me_flex{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap:0 30px;
    padding: 60px 0 0px 0;
    margin-bottom: 60px;
}

.info_all_flex_left{
    text-align: center;
    width: 320;
    max-height: 100%;
    /* border: 1px solid red; */
    box-shadow: -8px 4px 15px 2px rgb(0 0 0 / 20%);
}

.all_info_title{
    font-size: 70px;
    font-weight: 900;
    font-family: sans-serif;
}
.info_me_p{
    font-weight: 400;
    font-size: 1rem;
    font-family: sans-serif;
    margin-bottom: 34px;
}


  
  


    .info_me_h2{
        line-height: 1.9rem;
        font-weight: 900;
        font-size: 1.4rem;
        font-family: sans-serif;
        margin-bottom: 34px;
    
    }

    .all_info_p{
        line-height: 1.8;
        font-size: 17px;
        font-family: sans-serif;
        position: relative;
        padding-left: 20px;
    }

    .line{
        width: 60px;
        height: 2px;
        background-color:#0050ff;
        margin: 0 auto;
        margin-bottom: 34px;
    }

    .fa-github::before {
        content: "\f0e1";
    }

    .link_ul{
        padding: 20px 0 20px 0;
        background-color: white;
    }
/* info about me end */


/* my_technical_skills start */


.my_technical_skills{
    margin-bottom: 40px;
}

.tech_flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
     margin-bottom: 40px;
    
}

.tech_scils_h2{
    font-size: 22px;
    font-weight: 800;
    font-family: sans-serif;
    margin-left: 10px;
    
}

.list_item{
    margin-bottom: 34px;
    width: 700px;
    padding: 30px;
    /* border: 1px solid rebeccapurple; */
    background-color: white;
}

.list_li{
    font-size: 16px;
    font-family: sans-serif;
    line-height: 24px;
    margin-top: 15px;
    position: relative;
    margin-left: 24px;
}
.list_li:first-child{
    margin-top: 0;
}


.list_li::after{
    display: block;
    content: '';
    width: 14px;
    height: 14px;
    background-color: #006DFE;
    position: absolute;
    top: 5px;
    left: -23px;
    text-align: center;
}
.projects_1::before{
    display: block;
    content: '';
    width: 7px;
    height: 40px;
    background-color: #006DFE;
    position: absolute;
    top: 25px;
    left: 0;
}
.projects_1{
    background-color: white;
    margin-bottom: 40px;
    position: relative;
    /* height: 195.6px ; */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    transition: 0.4s;
}
.projects_1::after{
    display: block;
    content: '';
    height: 196px;
    width: 196px;
    background: url(../img/20210914_111955_0002.png) no-repeat right top;
}

.proj_2::after{
    display: block;
    content: '';
    height: 196px;
    width: 196px;
    background: url(../img/20210914_111955_0001.png) no-repeat right top;
}
.proj_3::after{
    display: block;
    content: '';
    height: 196px;
    width: 196px;
    background: url(../img/20210914_111955_0000.png) no-repeat right top;
}

.projects_1:hover{
    box-shadow: -8px 4px 15px 2px rgb(0 0 0 / 20%);
}


.projects_1:hover .project_1_span{
text-decoration: underline;
}

.project_1_link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.project_1_span{
    font-weight: 800;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 20px;
    color: #0050ff;
    padding: 30px 0 0 30px;
   
}


.project_1_p{
    line-height: 25px;
    font-family: sans-serif;
    margin-bottom: 20px;
    padding: 00px 0 0 30px;
}

/* my_technical_skills end */


/* Experiens start */

.grit_col_exp{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 40px;
    background-color: white;
    align-items: top;

    /* height: 400px; */
}

  .grid_left_h3{
      font-size: 17px;
      font-weight: 900;
      font-family: sans-serif;
      margin-bottom: 12px;
      margin-top: 30px;
      color: #006DFE;
      margin-left: 24px;
  }
   .grid_left_p{
       font-weight:900;
       font-family: sans-serif;
       font-size: 10px;
       margin-bottom: 30px;
       margin-left: 24px;
       line-height: 20px;
   }
   
   .grid_right_p_lang{
    font-weight:400;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 24px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
   }

   .grid_right_p_lang:first-child{
    margin-top: 30px;
    margin-bottom: 10px;
}
   .grid_right_p_lang:last-child{
     margin-top: 10px;
    margin-bottom: 30px;
}
.grid_right_p_lang::before{
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #006DFE;
    position: absolute;
    top: 6px;
    left: 0;
   }

   .all_info_p::before{
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #006DFE;
    position: absolute;
    top: 10px;
    left: 0;
    border-radius: 50%;
   }

   .grid_left_p:last-child{
    font-weight:400;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-style: oblique;
    margin-bottom: 30px;
    margin-left: 24px;
   }

   .grid_right_p{
    font-weight:400;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 0px;
    margin-right: 24px;
    position: relative;
    padding-left: 20px;
   }
   .grid_right_p:first-child{
         margin-top: 30px;
         margin-bottom: 10px;
   }
   .grid_right_p:last-child{
       margin-top: 10px;
       margin-bottom: 20px;
   }

   .grid_right_p::before{
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #006DFE;
    position: absolute;
    top: 6px;
    left: 0;
   }

   .grid_right_p_ed {
      margin-top: 30px;
      font-weight:400;
      font-family: sans-serif;
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 0px;
      margin-right: 24px;
   }
/* Experiens end */


/* Footer start */


.grid_footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 40px 0 40px 0;
    align-items: center;

}

.grid_footer_right{

}

.footer{
    background: white;
}

/* Footer end */

.link_ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fa-github:before {
    content: "\f09b";
    color: black;
    /* text-decoration: none; */
}
.fa-envelope:before {
    content: "\f0e0";
    color: black;
    text-decoration: none;
}

.fa-linkedin-in:before {
    content: "\f0e1";
    color: black;
    text-decoration: none;
    
}
/* .fa-linkedin-in{
    width: 30px;
    height: 30px;
} */

.link_li{
    margin-right: 20px;
}
